/* CARD VIEW */

.card{
    padding: 10px;
    width: fit-content;
    margin : 0 auto;
    vertical-align: middle;
    background-color: #F2F2F2;
    border-radius:5px;
    margin-top: 10px;
    box-shadow: 0px 5px 5px grey
}
.card .nameAndProfile{
    display: inline-flex;
}
.card .nameAndProfile span{
    margin: auto 0;
    padding-left: 10px;
    box-shadow: 2px;
}
