header{
    height:100px;
    margin: 0 auto;
    background-color: #78bfa6;
    display: flex;
    justify-content:space-between;
}
.logoAndNav{
    display: inline-flex;
}
.navitem{
    padding: 0 15px;
    margin: auto 0;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.navitem a{
    color: #fff;
    text-decoration: none;
    font-size:125% ;
    transition: color 0.3s;
}
.navitem a:hover{
    color: navy;
}
.logo{
    padding: 0;
    margin: 0 auto;
}
.profile{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
}

