header{
    height:100px;
    margin: 0 auto;
    background-color: #1ab188;
    display: flex;
    justify-content:space-between;
}
.logoAndNav{
    display: inline-flex;
}
.navitem{
    padding: 0 15px;
    margin: auto 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.navitem a{
    color: #fff;
    text-decoration: none;
    font-size:125% ;
    transition: color 0.3s;
}
.navitem a:hover{
    color: black;
}
.logo{
    padding: 0;
    margin: 0 auto;
}
.profile{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
}

